



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <a class="navbar-brand" href="javascript:void(0)">Naveen It</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
           <a class="nav-link" routerLink="/pages/page1"
            routerLinkActive="active">Page One</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/pages/page2"
             routerLinkActive="active">Page Two</a>
         </li>
    

      </ul>
    </div>

  </nav>

  <!--
  <div style="margin-left:100px;margin-top: 50px;;">

  <router-outlet></router-outlet>

</div>-->