<div class="container ">

    <form class="custmSty" #loginForm="ngForm" (ngSubmit)="Login(loginForm.form.valid,
    loginForm.form.value)">

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control widClas" id="email" [(ngModel)]="objLog.email"
                placeholder="Enter email" name="email" required>
        </div>


        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control widClas" id="pwd" placeholder="Enter password" name="pwd"
                [(ngModel)]="objLog.pwd" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>