<div>
    <button type="button" class="btn btn-primary" (click)="addEmployee()">
        Add </button>
</div>


<div style="margin-top: 11px;">

    <form [formGroup]="objEmp" (ngSubmit)="InsertEmployee()">

        <div class="form-group">
            <label class="sr-only" for="email">name:</label>
            <input type="text" class="form-control" id="email" 
            placeholder="Name" required formControlName="name">
        </div>

        <div class="form-group">
            <label class="sr-only" for="pwd">deptment</label>
            <input type="text" class="form-control"
             id="pwd" placeholder="Deptment" 
             required formControlName="deptment">
        </div>

        <div class="form-group">
            <label class="sr-only" for="pwd">floor</label>
            <input type="text" class="form-control" id="pwd"
            required placeholder="Floor" formControlName="floor">
        </div>

        <div class="form-group">
            <label class="sr-only" for="pwd">subject</label>
            <input type="text" class="form-control" id="pwd"
            required placeholder="Subject" formControlName="subject">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

       <!-- <div formArrayName="aliases">

            <h3>Aliases</h3> <button type="button" 
            (click)="addAlias()">Add Alias</button>
          
            <div *ngFor="let alias of aliases.controls; let i=index">
             
              <label>
                Alias:
                <input type="text" [formControlName]="i">
              </label>
            </div>
          </div>
-->
    </form>

</div>

<div>
    <form [formGroup]="dynmicObj">
        
        <div formArrayName="aliases">
        <h3>Aliases</h3> <button type="button" 
        (click)="addAlias()">Add Alias</button>

        <div *ngFor="let alias of aliases.controls; let i=index">
             
            <label>
              Alias:
              <input type="text" [formControlName]="i">
            </label>
          </div>
        </div>        
    </form>

</div>



<!--ngClass properitis
marginClas
<div [ngClass]='{"marginClas textColor":isFlag}'>
    hello
</div>
-->
<div [ngClass]='getClass()'>

    hello

</div>


<div>
    <button [disabled]="false" type="button"> Submit </button>
</div>


<!--

    <label>Name:<input type="text" [formControl]="name"></label>


<form [FormGroup]="objEmp" (ngSubmit)="InsertEmployee()">



</form>

-->